/* styles.css */

body {
    font-family: Arial, sans-serif;
  }
main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
  header {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    margin-left: 15px;
  }
  
  #notes-container {
    display: flex;
    justify-content: start;
    flex-flow: wrap;
  }
  p {
    margin: 0;
    margin-bottom: 15px;
  }
  .note {
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    background: #ffe992;
    margin: 10px;
    width: 24%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .AddNoteButton {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    border: 0px;
    background: darkgrey;
    color: white;
    font-size: 40px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .noteHeader{
    display: flex;
    justify-content: space-between;
  }
.deleteButton {
  top: 0;
  background: #ff6f6f;
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  margin-left:72px;
  margin-top: 8px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  line-height:12px;
}
.AddNote {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.57);
  height: 100%;
  width: 100%;
}
.AddNoteInner {
  background-color: white;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;

  border-radius: 25px;
  z-index: 15;
}
.AddNoteInner h1 {
  margin-left: 10%;
}
form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
input {
  margin-bottom: 20px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 15px;
  border: 2px solid lightgray;
}
textarea {
  margin-bottom: 20px;
  font-size: 20px;
  padding-left: 10px;
  height: 300px;
  border-radius: 15px;
  border: 2px solid lightgray;
}

form button {
  height: 40px;
  font-size: 20px;
  background: #027705;
  color: white;
  border: 0;
  border-radius: 15px;
}
.addNoteHeader {
  display: flex;
  justify-content: space-between;
}
.closeWindow {
  background: #ff6f6f;
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  margin-left:72px;
  margin-top: 8px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  line-height:12px;
}